<template>
  <div class="container">
      <br>
      <div class="row">

        <div class="col-md-8 order-md-1">

          <h4 class="mb-3">Rapi Food</h4>

          <button type="button" class="btn btn-light m-1" v-for="cat in listCat" :key="cat.id"
          v-on:click="selectCategoria=cat.id" >{{cat.cate_nombre}}</button>

          <button type="button" class="btn btn-light m-1" v-on:click="selectCategoria=0" >Todos</button>
            
            <hr>
            <div class="row">
              <div class="card col-md-4 " v-show="prod.prod_categoria==selectCategoria||selectCategoria==0" style="padding:0px;" v-for="prod in listProd" :key="prod.id">
                <img class="card-img-top"  :src="prod.prod_image" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{prod.prod_name}}</h5>
                  <p class="card-text">{{prod.prod_description}}</p>
                  <a type="button" class="btn btn-primary text-white" v-on:click="addCart(prod)">{{ convertMoney(prod.prod_price) }}</a>
                </div>
              </div>
          </div>

        </div>

        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Carrito</span>
            <span class="badge badge-secondary badge-pill">{{listCarrito.length}}</span>
          </h4>
          
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h5 class="my-0">Productos:</h5>
              </div>
            </li>

            <li v-for="(itemcart,i) in listCarrito" :key="itemcart.id" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{itemcart.nombre}}</h6>
                <small class="text-muted">{{itemcart.categoria}}</small>
              </div>
              
              <div>
                <div>
                  <a type="button"><i class="material-icons"  v-on:click="cambiarCantidad(i, false)">remove_circle_outline</i></a>
                    <span class="text-muted">{{itemcart.cant}}</span>
                  <a type="button"><i class="material-icons"  v-on:click="cambiarCantidad(i, true)">add_circle_outline</i></a>
                  
                </div>
                <span class="text-muted">$ {{itemcart.cant * itemcart.precio}}</span>
              </div>
              <a type="button"><i class="material-icons"  v-on:click="deleteItem(i)">delete</i></a>
              

            </li>

            <!-- <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li> -->

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (CLP)</span>
              <strong>{{onViewTotal()}}</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between">

              <select class="form-control" id="exampleFormControlSelect1" v-model="SelectMesa" >
                <option value="1">Mesa 1</option>
                <option value="2">Mesa 2</option>
                <option value="3">Mesa 3</option>
                <option value="4">Mesa 4</option>
                <option value="5">Mesa 5</option>
              </select>

            </li>

          </ul>

          <button type="button" class="btn btn-success btn-lg btn-block" v-on:click="onSendOrder()">PROCESAR PEDIDO</button>

        </div>

      </div>


  </div> <!-- /container -->
</template>

<script>
    export default {
        data (){
          return{
            listCat:[],
            listProd:[],
            listCarrito:[],
            selectCategoria:0,
            SelectMesa:1
          }
        },
        mounted() {
            this.listCatService(),
            this.listProdService()
        },

        methods: {
          
          convertMoney(value){
            const formatterPeso = new Intl.NumberFormat('es-CO', {
              style: 'currency',
              currency: 'COP',
              minimumFractionDigits: 0
            })

            let valueFinal = formatterPeso.format(value);
            return valueFinal
          },

          listCatService(){
            axios.get("api/Categoria/disponible")
            .then(response => {
              this.listCat = response.data;
            }).catch(error => {
              alert(error)
            })

          },

          listProdService(){

            axios.get("api/Producto/visible")
            .then(response=>{
              // cargar datos
              this.listProd = response.data
            })
            .catch(error=>{
              alert(error)
            })

          },

          addCart(item){
            //this.listCarrito.push(item)
            // es buenisimos usar esta constante que nos simplifica mucho codigo

            const itemcar = {
              id : item.idpro,
              nombre : item.prod_name,
              categoria: item.cate_nombre,
              cant: 1,
              precio: item.prod_price
            }

            this.listCarrito.push(itemcar)
            //alert(JSON.stringify(item))
          },

          deleteItem(i){
            this.listCarrito.splice(i,1); //elimina 1 en la pos i
          },

          // Sumatoria Total
          onViewTotal(){
            let total = 0;

            this.listCarrito.map((data) => {
              total = total + (data.cant * data.precio);
            })
            
            return this.convertMoney(total);
          },

          cambiarCantidad(i,type){

            // sacar variable de carrito
            const dataCar = this.listCarrito

            // sacar la cantidad de producto
            let cantd = dataCar[i].cant;

            // Si el tipo es true (sumar)
            if (type) {
              cantd = cantd + 1
            }
            //contrario si type es false (restar) 
            else if (type==false&&cantd>=1) {
              cantd = cantd - 1
            }

            // Aqui actualizamos la cantidad nueva en listCarrito
            if ((type==false&&cantd>=1)||type) {
              dataCar[i].cant = cantd
              this.listCarrito
            }


          },

          onSendOrder()
          {
            // Verifica que el array no este vacio
            if (this.listCarrito.length>=1) {
              // sumar todal de los productos
              let total = 0
              this.listCarrito.map((data)=>{
                total = total + (data.cant * data.precio)
              })

              const formData = new FormData()
              // array carrito lo convierte en un string con el JSON.stringify
              formData.append('pedidos',JSON.stringify(this.listCarrito))
              // mesa seleccionada
              formData.append('mesa',this.SelectMesa)
              // total del pedido
              formData.append('total',total)

              axios.post("api/Orden/create",formData)
              .then(response => {
                // limpiar campo
                // alert("Enviado exitosamente");

                this.$swal.fire(
                  'Enviado exitosamente!',
                  'Se envio la ordenó exitosamente',
                  'success'
                )

                // Limpia el carrito
                this.listCarrito = []
              })
              .catch(error => {
                alert(error)
              })

            }else{

            }


          }
        }

    }
</script>