<template>
  <div class="container">
        <br>
        <div class="row">

      <div class="col-md-8 order-md-1">

        <h4 class="mb-3">Orden</h4>

        <table class="table t ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Orden</th>
              <th scope="col">Valor</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <template >

              <tr v-for="orden in listOrder" :key="orden.id" style="background-color: #cecece">
                <td>{{orden.ord_id}}</td>
                <td><b>Mesa {{orden.ord_mesa}}</b> - {{orden.ord_fecha}}</td>
                <td>{{orden.ord_valor}}</td>
                <td>
                  <button type="button" class="btn btn-light"  v-on:click="orden.show=!orden.show">Detalles</button>
                </td>

                <div>
                  <tr v-for="pedido in orden.pedidos" v-show="orden.show" :key="pedido.id">
                  <td>{{orden.ord_id}}</td>
                  <td>{{pedido.prod_name}}</td>
                  <td>{{pedido.ped_cantidad}}</td>
                  <td>{{pedido.ped_valor}}</td>
                  </tr>
                </div>
              </tr>
              <!-- Detalles del orden -->
              
            </template>
          </tbody>
        </table>

      </div>


    </div>


  </div> <!-- /container -->
</template>

<script>
  export default {
    data(){
      return{
        listOrder:[]
      }
    },

    mounted() {
        this.listOrderService()
    },
    
    methods:{
      listOrderService()
      {
        axios.get("api/Orden/list")
        .then(response=>{
          // cargar datos
          this.listOrder = response.data;
        })
        .catch(error=>{
          alert(error)
        })

      },
    }
  }
</script>